.bar {
  width: 50px;
  margin: 0 5px;
  text-align: center;
}

.bar-container {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.initial {
  background-color: lightskyblue;
}

.compare {
  background-color: lightseagreen;
}

.final {
  background-color: lightcoral;
}
