body {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

@media only screen and (max-height: 500px) {
  .app-grid {
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 100%;
  }
}

@media only screen and (min-height: 501px) {
  .app-grid {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100%;
  }
}

@media only screen and (min-width: 360px) and (max-width: 450px) {
  .title {
    h3 {
      font-size: small;
    }
  }
}

@media only screen and (max-width: 359px) {
  .title {
    h3 {
      font-size: smaller;
    }
  }
}

.command-button {
  align-items: center;
  display: flex;
}

.deep-sky-blue {
  color: deepskyblue;
}

.footer {
  border-top: 1px solid #fff;
  margin: 5px;

  * {
    margin: 2px;
  }

  .social-container {
    align-items: center;
    display: flex;
  }
}

.linked-in-logo {
  max-width: 32px;
}

.mat-slider-horizontal {
  min-width: unset;
}

.social-link {
  align-items: center;
  display: flex;
}

.social-text {
  margin-left: 5px;
}

.speed {
  align-items: center;
  display: flex;

  mat-slider {
    margin: 0 10px;
    width: 100%;
  }
}

.title {
  align-items: center;
  display: flex;

  h3 {
    margin: 0;
  }
}

.toolbar {
  button,
  mat-form-field {
    width: 100%;
  }

  mat-select {
    padding-right: 5px;
  }
}

.visualizer-main {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
