<div class="app-grid">
  <form [formGroup]="form">
    <div class="toolbar container">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 title">
          <h3>Angular Sorting Visualizer</h3>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>Algorithm</mat-label>
            <mat-select formControlName="algorithmId">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let algorithm of algorithmsDataSource" [value]="algorithm.id">
                {{ algorithm.text }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.algorithmId.hasError('required')"
              >Please select an algorithm</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>Array Type</mat-label>
            <mat-select formControlName="arrayTypeId">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let arrayType of arrayTypeDataSource" [value]="arrayType.id">
                {{ arrayType.text }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.arrayTypeId.hasError('required')"
              >Please select an array type</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 speed">
          <p>Slow</p>
          <mat-slider
            formControlName="speed"
            [max]="25"
            [min]="1"
            [step]="1"
            [invert]="true"
          ></mat-slider>
          <p>Fast</p>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-4 command-button">
          <button
            type="button"
            mat-stroked-button
            color="primary"
            (click)="onGenerate()"
            [disabled]="form.disabled || !form.get('arrayTypeId').value"
          >
            GENERATE
          </button>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-4 command-button">
          <button
            type="button"
            mat-stroked-button
            color="primary"
            (click)="onSort()"
            [disabled]="form.enabled && !form.valid"
          >
            {{
              sortButtonType === SORT_BUTTON_TYPE.Sort
                ? 'SORT'
                : sortButtonType === SORT_BUTTON_TYPE.Stop
                ? 'STOP'
                : 'RESET'
            }}
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="visualizer-main">
    <app-bar *ngFor="let bar of state; index as i; trackBy: trackByFn" [bar]="bar"></app-bar>
  </div>
  <div class="footer" *ngIf="isFooterVisible$ | async">
    <p>
      This sorting visualizer was built with Angular and Angular Material.
    </p>
    <p>
      <span class="deep-sky-blue">*</span>Work in progress. More algorithms & features coming soon!
    </p>
    <p>
      Developed by
      <a
        class="deep-sky-blue"
        href="https://tylerlittle.github.io/portfolio/"
        target="_blank"
        rel="noopener noreferrer"
        >Tyler Little</a
      >.
    </p>
    <div class="social-container">
      <div class="social-wrapper">
        <a
          class="social-link"
          href="https://github.com/tylerlittle"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="assets/GitHub-Mark-Light-32px.png" /><span class="social-text"
            >Github Profile</span
          ></a
        >
      </div>
      <div class="social-wrapper">
        <a
          class="social-link"
          href="https://www.linkedin.com/in/tyler-little/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="assets/LI-In-Bug.png" class="linked-in-logo" /><span class="social-text"
            >LinkedIn Profile</span
          ></a
        >
      </div>
    </div>
  </div>
</div>
