body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.footer {
  background-color: lightgreen;
  min-height: 10vh;
}

.toolbar {
  background-color: lightgray;
  min-height: 10vh;
}

.visualizer-main {
  margin: 5px 0;
  min-height: 80vh;
  max-height: 80vh;
}
